body {
  background-color: rgb(52, 52, 52);
  color: lightgrey;
  transition: all ease 0.3;
}

ul {
  list-style-type: none;
}

.characterImg {
  width: 33px;
}

.characterImg:hover {
  cursor: pointer;
}

.episodesOl li {
  font-size: 18px;
  margin: 10px 0;
}

.episodeName {
  font-size: 35px;
  font-weight: 600;
}

.characterListOpensUp {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.9);
  transition: all 0.3s ease;
  z-index: 1;
  display: none;
  margin: auto;
  border: 2px solid white;
}
